
.ShopTable {
    background-color: whitesmoke;
    border-spacing: 0 10px;
    padding: 10px;
    margin: auto;
    border-collapse: collapse;
    grid-area: ST;
    height: 300px;
    margin-bottom: 10px;
}








.ProductsThead {
    text-align: center;
    align-items: center;
    box-sizing: border-box;

}

.ShopTable td {
    padding: 0 5px;
    color: black;
    border: 2px solid black;
}



